@model IEnumerable<SustainableChemistryWeb.Models.FunctionalGroup>

@{
    ViewData["Title"] = "Index";
}

<h1>Functional Groups</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="NameSearchString" value="@ViewData[" currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Molecule SMILES to find Functional Groups: <input type="text" name="SmilesSearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<div class="container">
    <div class="row">
        <div class="col-3">@Html.DisplayNameFor(model => model.Name)</div>
        <div class="col-3">@Html.DisplayNameFor(model => model.Smarts)</div>
        <div class="col-3">@Html.DisplayNameFor(model => model.Image)</div>
        <div class="col-3"></div>
    </div>
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-3">
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </div>
            <div class="col-3">
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Smarts)</a>
            </div>
            <div class="col-3">
                <img src="~/@item.Image" class="img-fluid" />
            </div>
            <div class="col-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    </li>
                    <li class="nav-item">
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    </li>
                    <li class="nav-item">
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </li>
                </ul>
            </div>
        </div>
    }
</div>