@model SustainableChemistryWeb.ViewModels.FunctionalGroupIndexData

@{
    ViewData["Title"] = "Index";
}

<h3><a asp-controller="Home" asp-action="Index">Sustainable Chemistry Expert Framework</a>  - Functional Group List</h3>
@using (Html.BeginForm("Index", "FunctionalGroups", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @if (User.Identity.IsAuthenticated)
    {
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    }

    if (@ViewBag.NameSearchString != null)
    {
        <p>
            Search results for Functional Group: "@ViewBag.NameSearchString" | <a asp-action="Index">Back to full Functional Group List</a> |
            <a asp-controller="Home" asp-action="Index">Home</a>
        </p>
    }
    else if (@ViewBag.SmilesString != null)
    {
        <p>
            You searched for: "@ViewBag.SearchString" | <a asp-controller="Home" asp-action="Index">New Search</a>
        </p>
        <img src="https://actorws.epa.gov/actorws/chemical/image?casrn=@ViewBag.CASNO&w=400&h=400&fmt=svg" class="img-fluid" />
        <p>
            IUPAC Name: @ViewBag.IUPACName | <a href="https://comptox.epa.gov/dashboard/dsstoxdb/results?search=@ViewBag.DTXSID" target="_newtab">Get Chemical Dashboard Page</a>
        </p>
        <p>
            SMILES String: "@ViewBag.SmilesString"
        </p>
    }
    else
    {
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="NameSearchString" placeholder="Enter the Name of the Functional Group that you want to find" />
                <div class="input-group-append">
                    <button asp-controller="FunctionalGroups" asp-action="Index" class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </div>
    }
    <p>
        This page provides links to non-EPA web sites that provide additional information about the functional groups listed below. You will leave the EPA.gov domain and enter another page with 
        more information. EPA cannot attest to the accuracy of information on that non-EPA page. Providing links to a non-EPA Web site is not an endorsement of the other site or
        the information it contains by EPA or any of its employees. Also, be aware that the privacy protection provided on the EPA.gov domain
        (see <a href="/home/privacy-and-security-notice">Privacy and Security Notice</a>) may not be available at the external link. 
        <span class="disclaimer">
            The following links exit the site <a class="exit-disclaimer" href="https://www.epa.gov/home/exit-epa" title="EPA's External Link Disclaimer">Exit</a>
        </span>
    </p>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col"></th>
                    <th scope="col">SMARTS</th>
                    <th scope="col">Image</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.FunctionalGroups)
                {
                    <tr>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                        </td>
                        <td>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a asp-action="Index" asp-route-funcGroupId="@item.Id" asp-route-nameSearchString="@item.Name" asp-route-smilesSearchString="@ViewBag.SearchString">Show Reactions</a>
                                </li>
                                <li class="nav-item">
                                    -------
                                </li>
                                <li class="nav-item">
                                    <a href="@Html.DisplayFor(modelItem => item.URL)" target="_newtab">General Information</a>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Smarts)</a>
                        </td>
                        <td>
                            <img src="~/@item.Image" class="img-fluid" width="250" />
                        </td>
                        <td>
                            <ul class="nav flex-column">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li class="nav-item">
                                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    </li>
                                }
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li class="nav-item">
                                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </li>
                                }
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @if (Model.NamedReactions != null)
        {
            <p>
                Reactions for Functional Group: "@ViewBag.FunctionalGroupName"
            </p>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" width="15%">Name</th>
                            <th scope="col" width="15%">Functional Group</th>
                            <th scope="col" width="15%">Links</th>
                            <th scope="col" width="55%">Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.NamedReactions)
                        {
                            <tr>
                                <td>
                                    <a asp-controller="NamedReactions" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                                </td>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.FunctionalGroupId">@Html.DisplayFor(modelItem => item.FunctionalGroup.Name)</a>
                                </td>
                                <td>
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a href="@Html.DisplayFor(modelItem => item.Url)" target="_newtab">General Information</a>
                                        </li>
                                        <li>
                                            -------
                                        </li>
                                        <li>
                                            <a asp-action="Index" asp-route-nameSearchString="@ViewBag.SearchString" asp-route-smilesSearchString="@ViewBag.SearchString" asp-route-funcGroupId="@item.FunctionalGroupId" asp-route-namedReactionId="@item.Id">Show References</a>
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <img src="~/@item.Image" class="img-fluid" width="550" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        @if (Model.References != null)
        {
            <p>
                References for the "@ViewBag.NamedReactionName" reaction used to make Functional Group: "@ViewBag.FunctionalGroupName"
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Functional Group
                        </th>
                        <th>
                            Reaction
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.References)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FunctionalGroup.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Reaction.Name)
                            </td>
                            <td>
                                <a href="@item.URL" target="_newtab">@Html.DisplayFor(modelItem => item.Text)</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
}
