@model SustainableChemistryWeb.ViewModels.NamedReactionViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Named Reaction</h4>
<hr />
@using (Html.BeginForm("Edit", "NamedReactions", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FunctionalGroupId" class="control-label">Functional Group</label>
                <select asp-for="FunctionalGroupId" class="form-control chosen-select" asp-items="ViewBag.FunctionalGroupId"></select>
                @Html.ActionLink("Add New Functional Group", "Create", "FunctionalGroups")
                <span asp-validation-for="FunctionalGroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppNamedreactionReactants" class="control-label">Reactants</label>
                <select name="reactants" data-placeholder="Choose the Reactants..." class="form-control chosen-select" multiple asp-items="ViewBag.Reactants"></select>
                @Html.ActionLink("Add New Reactant", "Create", "Reactants")
                <span asp-validation-for="AppNamedreactionReactants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppNamedreactionByProducts" class="control-label">ByProducts</label>
                <select name="byProducts" data-placeholder="Choose the ByProducts..." class="form-control chosen-select" multiple asp-items="ViewBag.ByProducts"></select>
                @Html.ActionLink("Add New Reactant", "Create", "Reactants")
                <span asp-validation-for="AppNamedreactionByProducts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product" class="control-label"></label>
                <input asp-for="Product" class="form-control" />
                <span asp-validation-for="Product" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Heat" class="control-label">Heat</label>
                <select asp-for="Heat" class="form-control chosen-select" asp-items="ViewBag.HeatList"></select>
                <span asp-validation-for="Heat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcidBase" class="control-label">Acid/Base Conditions</label>
                <select asp-for="AcidBase" class="form-control chosen-select" asp-items="ViewBag.AcidBaseList"></select>
                <span asp-validation-for="AcidBase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatalystId" class="control-label">Catalyst</label>
                <select asp-for="CatalystId" class="form-control chosen-select" asp-items="ViewBag.CatalystID"></select>
                @Html.ActionLink("Add New Catalyst", "Create", "Catalysts")
                <span asp-validation-for="CatalystId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SolventId" class="control-label">Solvent</label>
                <select asp-for="SolventId" class="form-control chosen-select" asp-items="ViewBag.SolventId"></select>
                @Html.ActionLink("Add New Solvent", "Create", "Solvents")
                <span asp-validation-for="SolventId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <img id="image01" src="~/@Html.DisplayTextFor(model => model.Image)" />
                <input asp-for="ImageFile" class="form-control" type="file" onchange="preview(this)" accept="image/*"/>
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">
    function preview(fileInput) {
        if (fileInput.files && fileInput.files[0]) {
            var reader = new FileReader();
            reader.onloadend = function (e) {
                $('#image01').attr('src', e.target.result);
            }
            //readAsDataURL will start reading the contents of the specified Blob, which may be a File.
            // When the read operation is finished, the readyState property will become DONE, and the
            // onloadend callback, if any, will be called. At that time, the result attribute contains
            // the raw binary data from the file.
            reader.readAsDataURL(fileInput.files[0]);
        }
    }
</script>
