@model IEnumerable<SustainableChemistryWeb.Models.NamedReaction>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                Find by name: <input type="text" name="NameSearchString" value="@ViewData[" currentFilter"]" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-action="Index">Back to Full List</a>
            </p>
        </div>
    </form>

    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                Find by functional group: <input type="text" name="FuncGroupSearchString" value="@ViewData["currentFilter"]" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-action="Index">Back to Full List</a>
            </p>
        </div>
    </form>
    <div class="container-fluid">
        <div class=" = row">
            <div class="col-md-12">
                <div class="panel-pane">
                    <table class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.FunctionalGroup)</th>
                                <th scope="col">Links</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.Image)</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                                    </td>
                                    <td>
                                        <a asp-controller="FunctionalGroups" asp-action="Details" asp-route-id="@item.FunctionalGroupId">@Html.DisplayFor(modelItem => item.FunctionalGroup.Name)</a>
                                    </td>
                                    <td>
                                        <a href="@Html.DisplayFor(modelItem => item.Url)">General Information</a> -------
                                        <a asp-controller="References" asp-action="Index" asp-route-id="@item.Name">References</a>
                                    </td>
                                    <td>
                                        <img src="~/@item.Image" class="img-fluid" />
                                    </td>
                                    <td>
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                @*@if ((await AuthorizationService.AuthorizeAsync(User, Model, SustainableChemistryWeb.Authorization.Operations.Create)).Succeeded)
                                                {*@
                                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <text> | </text>
                                                @*}*@
                                            </li>
                                            <li class="nav-item">
                                                @*@if ((await AuthorizationService.AuthorizeAsync(User, Model, SustainableChemistryWeb.Authorization.Operations.Create)).Succeeded)
                                                {*@
                                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                                @*}*@
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}